---
import '../../styles/components/ui/button.scss';

interface Props {
	as?: 'button' | 'a';
	href?: string;
	target?: '_blank' | '_self' | '_parent' | '_top';
	rel?: string;
	type?: 'button' | 'submit' | 'reset';
	variant?: 'primary' | 'secondary' | 'outline';
	size?: 'md' | 'lg' | 'xl';
	class?: string;
}

const {
	as = 'button',
	href,
	target,
	rel,
	type = 'button',
	variant = 'primary',
	size = 'md',
	class: className,
} = Astro.props;

const componentClass = ['ui-button', `ui-button--${variant}`, `ui-button--${size}`, className]
	.filter(Boolean)
	.join(' ');
---

{
	as === 'a' ? (
		<a class={componentClass} href={href} target={target} rel={rel}>
			<slot />
		</a>
	) : (
		<button class={componentClass} type={type}>
			<slot />
		</button>
	)
}
